{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %} Explore ATX | {{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-5">
        <img src="../img/landmarks/{{ image }}" alt="{{ name }}" class="img-fluid">
      </div>
      <div class="col-sm-7">
        <h1>{{ name }}</h1>
        <h6>{{ established }}<br>
        <span>{{ location }}</span></h6>
        <h6><em>Activities: {{ activities }}</em></h6>
        {{ description | safe }}
        <hr class="d-sm-none">
        {{ prose(post) }}
      </div>
    </div>
  </article>
{% endblock %}
