{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}Explore ATX: The Hitchhiker's Guide to Austin, Texas{% endblock %}

{% block content %}
<div class="container">
  <h2>Austin Awaits! Explore ATX.</h2>
    <div class="row">
      {# used ChatGPT to help tweak the following carousel code and text overlay #}
      <div class="col mx-auto position-relative">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/austin-mural-1.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/pecan-street-festival.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/restaurants/peached-tortilla.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/landmarks/texas-state-capitol.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/restaurants/uchi.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/landmarks/lady-bird-lake.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/restaurants/valentinas.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/landmarks/univ-of-tx.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/austin-bats.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/restaurants/hula-hut.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
        <div class="text-overlay">
          <div class="d-grid gap-2 col-4 mx-auto">
            <a class="btn btn-light" href="landmarks.html" role="button">Landmarks</a>
            <a class="btn btn-light" href="restaurants.html" role="button">Restaurants</a>
            <a class="btn btn-light" href="activities.html" role="button">Activities</a>
            <a class="btn btn-light" href="murals.html" role="button">Murals</a>
          </div>
        </div>
      </div>
    </div>
  <div class="intro">
    <p>Welcome to Explore ATX, your ultimate guide to all things Austin, Texas! From the vibrant live music scene that echoes through the streets to the delectable food joints that define the city's culinary culture, Explore ATX is your key to unlocking the heart and soul of this eclectic metropolis. Dive into a treasure trove of information on must-visit attractions, hidden gems, upcoming events, and insider tips curated by locals. Whether you're seeking the thrill of outdoor adventures along Lady Bird Lake or craving the electric atmosphere of South Congress Avenue, let Explore ATX be your trusted companion on your journey through the soul-stirring sights and sounds of Austin. Come explore with us and uncover the endless wonders this city has to offer!</p>
  </div>
</div>
{% endblock %}