{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}Explore ATX: The Hitchhiker's Guide to Austin, Texas{% endblock %}

{% block content %}
<div class="container">
  <h2>Austin Awaits! Explore ATX.</h2>
  <p>Welcome to Explore ATX, your ultimate guide to all things Austin, Texas! From the vibrant live music scene that echoes through the streets to the delectable food joints that define the city's culinary culture, Explore ATX is your key to unlocking the heart and soul of this eclectic metropolis. Dive into a treasure trove of information on must-visit attractions, hidden gems, upcoming events, and insider tips curated by locals. Whether you're seeking the thrill of outdoor adventures along Lady Bird Lake or craving the electric atmosphere of South Congress Avenue, let Explore ATX be your trusted companion on your journey through the soul-stirring sights and sounds of Austin. Come explore with us and uncover the endless wonders this city has to offer!</p>

    <div class="row">
      <div class="col-md-8 mx-auto position-relative">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="img/austin-bats.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/austin-mural-1.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="img/pecan-street-festival.jpeg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
        <div class="text-overlay">
          <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="landmarks.html" role="button">Landmarks</a>
            <a class="btn btn-primary" href="restaurants.html" role="button">Restaurants</a>
            <a class="btn btn-primary" href="activities.html" role="button">Activities</a>
            <a class="btn btn-primary" href="murals.html" role="button">Murals</a>
          </div>
        </div>
      </div>
    </div>



<!-- No control carousel with hopefully buttons on top test
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/austin-bats.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/austin-mural-1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/pecan-street-festival.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
-->

<!-- CAROUSEL TEST
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/austin-bats.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/austin-mural-1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/pecan-street-festival.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
-->

<!-- BUTTON MENU TEST 
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" href="landmarks.html" role="button">Landmarks</a>
    <a class="btn btn-primary" href="restaurants.html" role="button">Restaurants</a>
    <a class="btn btn-primary" href="activities.html" role="button">Activities</a>
    <a class="btn btn-primary" href="murals.html" role="button">Murals</a>
  </div>
-->

<!-- LARGE CARDS TEST
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="img/landmarks/texas-state-capitol.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Landmarks</h5>
          <p class="card-text">Step into the essence of Austin through its landmarks, where the city's stories and cultural significance come to life.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="img/restaurants/peached-tortilla.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Restaurants</h5>
          <p class="card-text">Explore Austin's vibrant culinary landscape, where innovative eateries and time-honored establishments converge to create a flavorful mosaic.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="img/austin-bats.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Activities</h5>
          <p class="card-text">From outdoor enthusiasts to culture seekers, Austin's diverse range of activities promises an unforgettable experience for every visitor.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="img/austin-mural-1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Murals</h5>
          <p class="card-text">Discover the colorful soul of Austin through its collection of murals, a vibrant canvas that reflects the city's spirit and imagination.</p>
        </div>
      </div>
    </div>
  </div>
  -->
  
  
  <!--<div class="row">
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card preview">
        <h5><a href="landmarks.html">Landmarks</a></h5>
      </div>
      <div class="card preview">
        <h5><a href="restaurants.html">Restaurants</a></h5>
      </div>
      <div class="card preview">
        <h5><a href="activities.html">Activities</a></h5>
      </div>
      <div class="card preview">
        <h5><a href="murals.html">Murals</a></h5>
      </div>
    </div>
  </div> -->
  <!--
  <h2>Featured Attractions</h2>
  <div class="row">
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  
  
   DELETE ME IF NOT USED!! COPIED FROM STATIC APP FOR REFERENCE
    <div class="row">
    {% for ship in pirates.ships %}
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card text-bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ ship.ship_name }}</h5>
          <h6>{{ ship.captain }}</h6>
          <p class="card-text">{{ ship.blurb }}</p>
          <a href="{{ ship.source }}" target="_blank">Source</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div> 
  

  LIBRARY BOOKS LOOP

  <h2>Library books loop</h2>
  <p>This loops through data that came from a Google Docs example.</p>
  <div class="row">
    {% for book in library.books %}
      <div class="col">
        <img src="img/{{ book.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="books/{{ book.slug }}.html">{{ book.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <h2>Bookstores loop</h2>
  <p>This loops through data that came from a Google Sheet example.</p>
  <hr>
  {% for store in bookstores.stores %}
    <h3><a href="{{ store.url }}" target="_blank">{{ store.name }}</a></h3>
    <p>{{ store.address}}, {{ store.city }}, {{ store.state }} {{ store.zip }}</p>
    <hr>
  {% endfor %}
  -->

</div>
{% endblock %}