{% extends '_templates/base.njk' %}

{% block page_title %}Murals{% endblock %}

{% block page_description %}Discover the colorful soul of Austin through its collection of murals, a vibrant canvas that reflects the city's spirit and imagination.{% endblock %}

{% block content %}
<article class="container">
  <h1>Murals</h1>
  <p>Discover the colorful soul of Austin through its collection of murals, a vibrant canvas that reflects the city's spirit and imagination.</p>

  <p><iframe src="//batchgeo.com/map/a78023891cad586ff2a627becba14a21" frameborder="0" width="100%" height="550" style="border:1px solid #aaa;"></iframe></p><p><small>View <a href="https://batchgeo.com/map/a78023891cad586ff2a627becba14a21" target="_blank">Austin Murals</a> on a full screen map</small></p>
</article>
{% endblock %}