// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';
@import 'jumbotron';

h3 {
  font-size: 1.5rem;
}

.card.preview{
  text-align: center;
  align-items: center;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 999; /* Ensure it's above the carousel */
  /* Additional styles */
}

#carouselExampleSlidesOnly {
  max-width: 1000px; /* Set your desired maximum width */
  max-height: 500px; /* Set your desired maximum height */
  margin: 0 auto; /* Center the carousel */
  overflow: hidden; /* Hide the overflow content (to crop) */
}

#carouselExampleSlidesOnly .carousel-inner {
  height: 100%; /* Ensure the carousel fills the specified height */
}

#carouselExampleSlidesOnly .carousel-item {
  width: 100%; /* Ensure carousel items fill the width */
  height: 100%; /* Ensure carousel items fill the height */
  overflow: hidden; /* Hide overflow content (to match dimensions) */
}

#carouselExampleSlidesOnly img {
  width: 100%; /* Make images fill the carousel items */
  height: 100%; /* Make images fill the carousel items */
  object-fit: cover; /* Crop images to cover the entire area */
}

